!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title markItUp! preview template
    = stylesheet_link_tag :markitup_preview_blue, :media => 'screen, projection'
  %body
    = raw parsed_content
    / content
