.emulator {
    background: image_url("emulators/bb.torch.portrait.png") no-repeat;
    width: 534px;
    height: 852px;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.emulator .display-area {
    position: relative;
    top: 157px;
    width: 360px;
    height: 480px;
    max-height: 480px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
