.blackberry .emulator {
  margin-top: 160px;
  background: image_url("emulators/blackberry.torch.landscape.png") no-repeat;
  width: 840px;
  height: 460px;
}
.blackberry .emulator .display-area {
  position: relative;
  top: 52px;
  width: 480px;
  height: 360px;
  max-height: 360px;
  color: #ffffff;
}
.blackberry .emulator .display-area a {
  color: #ff5500;
}
