.emulator {
    background: image_url("emulators/galaxy.tab.10.1.portrait.png") no-repeat;
    width: 998px;
    height: 1438px;
}

.emulator .actions {
  position: absolute;
}

.emulator .display-area {
    position: relative;
    top: 128px;
    width: 800px;
    height: 1188px;
    max-height: 1188px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
