.emulator {
    background: image_url("emulators/galaxy.tab.7.portrait.png") no-repeat;
    width: 801px;
    height: 1243px;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.emulator .display-area {
    position: relative;
    top: 120px;
    width: 600px;
    height: 999px;
    max-height: 999px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
