.emulator {
    background: image_url("emulators/galaxy.tab.7.landscape.png") no-repeat;
    width: 1200px;
    height: 720px;
}

.emulator .display-area {
    position: relative;
    top: 100px;
    width: 1024px;
    height: 564px;
    max-height: 564px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
