.emulator {
    background: image_url("emulators/galaxy.tab.7.landscape.png") no-repeat;
    width: 1280px;
    height: 801px;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.emulator .display-area {
    position: relative;
    top: 126px;
    width: 1024px;
    height: 575px;
    max-height: 575px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
