.emulator {
    background: image_url("emulators/galaxy.ace.portrait.png") no-repeat;
    width: 386px;
    height: 725px;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.emulator .display-area {
    position: relative;
    top: 147px;
    width: 320px;
    height: 456px;
    max-height: 456px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
