.emulator {
    background: image_url("emulators/iphone.4.portrait.png") no-repeat;
    width: 787px;
    height: 1506px;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.emulator .actions {
  position: absolute;
}

.emulator .display-area {
    position: relative;
    top: 310px;
    width: 640px;
    height: 921px;
    max-height: 921px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
