.iphone .emulator {
  background: image_url("emulators/iphone.portrait.png") no-repeat;
  width: 416px;
  height: 754px;
}
.iphone .emulator .display-area {
  position: relative;
  top: 152px;
  width: 320px;
  height: 460px;
  max-height: 460px;
  color: #ffffff;
}
.iphone .emulator .display-area a {
  color: #ff5500;
}
