.palm .emulator {
  margin-top: 160px;
  background: image_url("emulators/palm.pre.landscape.png") no-repeat;
  width: 800px;
  height: 442px;
}
.palm .emulator .display-area {
  position: relative;
  top: 85px;
  width: 480px;
  height: 300px;
  max-height: 300px;
  color: #ffffff;
}
.palm .emulator .display-area a {
  color: #ff5500;
}
