.emulator {
    margin-top: 56px;
    background: image_url("emulators/palm.pre.portrait.png") no-repeat;
    width: 416px;
    height: 740px;
}

.emulator .display-area {
    position: relative;
    top: 126px;
    width: 320px;
    height: 460px;
    max-height: 460px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
