.emulator {
    margin-top: 160px;
    background: image_url("emulators/palm.pre.landscape.png") no-repeat;
    width: 800px;
    height: 442px;
}

.emulator .actions {
  position: absolute;
}

.emulator .display-area {
    position: relative;
    top: 85px;
    width: 480px;
    height: 300px;
    max-height: 300px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
