.emulator {
    background: image_url("emulators/palm.pre.portrait.png") no-repeat;
    width: 416px;
    height: 740px;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.emulator .actions {
  position: absolute;
}

.emulator .display-area {
    position: relative;
    top: 126px;
    width: 320px;
    height: 460px;
    max-height: 460px;
    color: #ffffff;
}

.emulator .display-area a {
    color: #ff5500;
}
