/* line 2, ../../../../app/stylesheets/jqtouch/iphone.sass */
.iphone .emulator {
  background: url("/images/jqtouch/iphone_fullsize.png") no-repeat;
  width: 416px;
  height: 754px; }
  /* line 6, ../../../../app/stylesheets/jqtouch/iphone.sass */
  .iphone .emulator .display-area {
    position: relative;
    top: 152px;
    width: 320px;
    height: 460px;
    max-height: 460px;
    color: #ffffff; }
    /* line 13, ../../../../app/stylesheets/jqtouch/iphone.sass */
    .iphone .emulator .display-area a {
      color: #ff5500; }
