/*
	#####################################################################
	
	jQTouch iCal, 1.0 alpha
	@created by 
		Bruno Alexandre, 26.03.2010
		twitter.com/balexandre
		balexandre.com
		bruno.in.dk [at] gmail.com

	######################################################################
*/
#ical {
	color:#3F4E5E;
	float:left;
	background-color: #fff;
	width: 320px;
}
#ical table {
	border-collapse: separate;
	/*border: 0px solid #9DABCE;
	border-width: 0px 0px 1px 1px;*/
	/*margin: 10px auto;*/
	font-size: 20px;
}
#ical td {
	background: image_url("jqtouch/ical/cells.png") repeat scroll 0 0 transparent;
	border-color:#A3A7AF;
	border-style:solid;
	border-width:0 1px 1px 0;
	font-weight:bold;
	height:43px;
	position:relative;
	text-align:center;
	vertical-align:middle;
	width:45px;
}
#ical td:last-child, #ical th:last-child {
	border-right: 0px;
	width: 44px;
}
#ical td.padding {
	background: image_url("jqtouch/ical/calpad.jpg");
}
#ical td.hasevent {

}
#ical td.prevmonth, #ical td.nextmonth {
	color: #89909A;
}

#ical td.today {
	background-position: 90px 0px;
	color: white;
}
#ical td.selected {
	background-position: 45px 0px;
	color: white;
}

#ical td.date_has_event {
	background-position: 0px -43px;
}
#ical td.today_date_has_event {
	background-position: 90px 43px;
	color: white;
}
#ical td.selected_date_has_event {
	background-position: 45px 43px;
	color: white;
}

#ical thead {
	background: #fff image_url("jqtouch/ical/header.png") repeat-x;
}
#ical thead  th {
	font-size: 8px; vertical-align: bottom; padding-bottom: 3px; color: #6c6c6c;
	height: 40px;
}
#ical thead  th:first-child {
	background-image: image_url("jqtouch/ical/header_left.png");
	cursor: pointer;
}
#ical thead  th:last-child {
	background-image: image_url("jqtouch/ical/header_right.png");
	cursor: pointer;
}
#ical tfoot th {
	background: #fff image_url("jqtouch/ical/footer.png") repeat-x;
	height: 21px; border-bottom:0;
}
#ical thead th span {
	font-size:20px;
	height:30px;
	left:45px;
	position:absolute;
	text-align:center;
	top:50px;
	width:230px;
	z-index:999;
}

/*** Events ***/
#ical ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 320px;
	-webkit-border-radius: 0px;
}
#ical ul li {
	min-height: 30px; font-weight: bold;
}
#ical ul li span {
	font-size: 10px;
	padding-right: 10px;
}
#ical ul li a {
	display: inline;
}
#ical ul .no-event {
	color: #ccc;
	text-align: center;
	height: 65px;
}

#ical .bottom-bar {
	background:transparent image_url("jqtouch/ical/bottom_bar.png") no-repeat scroll 0 0;
	bottom:0;
	height:44px;
	margin-top: 1px;
	width:320px;
}

#ical .bottom-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
	width: 320px; height: 40px;
}
#ical .bottom-bar li {
	display: -webkit-inline-box;
	padding: 0; 
	margin: 0;
	margin-top: 5px; 
}
#ical .bottom-bar .bottom-bar-today {
	width: 56px;
	margin: 0 12px 0 6px;
}
#ical .bottom-bar .bottom-bar-list,
#ical .bottom-bar .bottom-bar-day,
#ical .bottom-bar .bottom-bar-month {
	width: 50px;
}
