#sw-wrapper {
	position:absolute; z-index:1000;
	left:0;
	width:100%;
	display:inline !important;
	min-height: 0px !important;
	font-family:helvetica, sans-serif;
	background:rgba(0,0,0,0.7);
	text-align:left;
}

#sw-header {
	position:relative;
	width:100%; height:43px;
	border-top:1px solid #000; border-bottom:1px solid #000;
	background: image_url("jqtouch/sw/header.png") 0 0 repeat-x;
	opacity: 0.9;
}

#sw-cancel, #sw-done {
	position:absolute;
	top:7px;
	height:20px; line-height:20px;
	padding:0 5px; margin:0;
	border-width:5px;
	font-size:12px; font-weight:bold;
	text-shadow:rgba(0,0,0,0.8) 0 -1px 0;
	color:#fff;
}

#sw-cancel {
	left:7px;
	float:left;
	-webkit-border-image: image_url("jqtouch/sw/button-cancel.png") 5;
}

#sw-done {
	right:7px;
	float:right;
	-webkit-border-image: image_url("jqtouch/sw/button-done.png") 5;
}

.sw-pressed { opacity:0.4; }

#sw-slots-wrapper {
	position:relative; z-index:999;
	display:block;
	height:215px;
	padding:0 11px;
	overflow:hidden;
}

#sw-slots {
	display:table;
	width:100%;
	background:#fcfcfc;
}

#sw-slots div {
	display:table-cell;
	height:100%;
	padding-top:86px;
	border-left:2px solid #0d0e0f;
	background-color:#fcfcfc;
	background-image: image_url("jqtouch/sw/slot-border.png");
	background-position: 0 0, 100% 0;
	background-repeat: repeat-y;
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding:0 0 85px 0; margin:0;
	list-style:none;
}

#sw-slots .sw-right { text-align:right; }
#sw-slots .sw-shrink { width:1%; }
#sw-slots .sw-readonly { background:#ddd; }

#sw-slots li {
	border-top: 0px solid black !important;
	color:#000000 !important;
	padding:0 8px;
	height:44px;
	overflow:hidden;
	font:bold 16px/44px Helvetica,sans-serif;
}

#sw-frame {
	position:absolute; z-index:1000;
	left:0; right:0; bottom:0;
	height:183px;
	border-width:16px;
	-webkit-border-image: image_url("jqtouch/sw/alpha.png") 16;
}