    body {
        background:#4180A6 image_url("jquery/markitup/preview/body.blue.png") repeat-x top left;
        color:#FFF;
        line-height:1.7;
        margin:5px 25px;
        font-family: "Trebuchet MS", Tahoma, sans-serif;
        font-size:small;
    }
    h1, h2, h3, h4, h5, h6 {
        margin:0; padding:0px;
        font-weight:bold;
        font-family: helvetica,arial,sans-serif;
        font-stretch:condensed;
        color:#FFF;
    }
    h1 {
        font-size:2.6em;
    }
    h2 {
        font-size:2.3em;
    }
    h3 {
        font-size:2.0em;
    }
    img {
        border:1px solid #000;
        padding:3px;
        background-color:#EFEFEF;
    }

    a:link, a:visited, a:active {
        text-decoration:none;
        color:#FFF;
        font-weight:bold;
    }

    a:hover {
        text-decoration:underline;
    }
    ul {
        list-style:none;
        padding:0;
    }
    li {
        padding-left:20px;
        background:transparent image_url("jquery/markitup/preview/bullet.blue.png") no-repeat left top;
    }
    li li {
        font-style:italic;
        list-style:square;
        background:none;
        margin-left:50px;
        padding-left:0;
    }

    .header {
        padding:5px;
        border:1px solid white;
        margin-bottom:10px;
    }