- if messages.length > 0
  .ui-widget
    .ui-state-error.ui-corner-all{ :style => "padding: 0pt 0.7em;" }
      %p
        %span.ui-icon.ui-icon-alert{ :style => "float: left; margin-right: 0.3em" }
        = messages