.ui-parent{ :style => parent }
  .ui-dialog.ui-widget.ui-widget-content.ui-corner-all{ :style => style }
    .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix
      %span
        = title
    .ui-dialog-content.ui-widget-content
