ul.dynatree-container {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	white-space: nowrap;
	padding: 3px;
	background-color: white;
	border: 1px dotted #aaaaaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

ul.dynatree-container ul
{
    padding: 0 0 0 16px;
}

ul.dynatree-container li
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    -moz-background-clip:border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: repeat-y;
    margin:0;
/*    padding:3px 0 3px 16px;*/
/*    padding:3px 0 3px 0;*/
    padding:1px 0 0 0;
}


ul.dynatree-container img {
	width: 16px; height: 16px;
	margin-left: 3px;
	vertical-align: top;
}

ul.dynatree-container a {
	color: black;
	text-decoration: none;
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
	border: 1px solid white;
}

ul.dynatree-container a:hover {
	text-decoration: underline;
}

ul.dynatree-container a:focus {
	background-color: #EFEBDE;
}

.dynatree-disabled ul.dynatree-container {
	opacity: 0.5;
	background-color: silver;
}

span.dynatree-empty, span.dynatree-vline, span.dynatree-connector {
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
}

span.dynatree-vline {
	background-image: image_url("jquery.ui/dynatree.crystal/empty.png");
}

span.dynatree-expander {
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: image_url("jquery.ui/dynatree.crystal/collapsed.png");
}

span.dynatree-expander:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/collapsed_hover.png");
}

span.dynatree-icon {
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 3px;
	background-image: image_url("jquery.ui/dynatree.crystal/document.png");
}

span.dynatree-checkbox {
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 3px;
	background-image: image_url("jquery.ui/dynatree.crystal/cbUnchecked.png");
}

span.dynatree-checkbox:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/cbUnchecked_hover.png");
}

span.dynatree-radio {
	margin-left: 3px;
	background-image: image_url("jquery.ui/dynatree.crystal/rbUnchecked.png");
}

span.dynatree-radio:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/rbUnchecked_hover.png"); }

span.dynatree-document a, span.dynatree-folder a {
	display: inline-block; padding-left: 3px; padding-right: 3px; }

span.dynatree-focused a:link /* @IE */ {
	background-color: #EFEBDE;
}

span.dynatree-selected a {
	color: green; font-style: italic;
}

span.dynatree-active a {
	border: 1px solid #99DEFD; background-color: #D8F0FA;
}

span.custom1 a {
	background-color: #ffffbb;
	color: maroon;
}

span.custom1 span.dynatree-icon {
	background-image: image_url("jquery.ui/dynatree.crystal/doc_with_children.png");
}

span.custom2 a {
	font-weight: bold;
	background-color: silver;
	color: navy;
}

span.custom2 span.dynatree-icon {
	background-image: image_url("jquery.ui/dynatree.crystal/folder_page.png");
}

.dynatree-expanded span.dynatree-expander {
	background-image: image_url("jquery.ui/dynatree.crystal/expanded.png");
}

.dynatree-expanded span.dynatree-expander:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/expanded_hover.png");
}

.dynatree-partsel span.dynatree-checkbox {
	background-image: image_url("jquery.ui/dynatree.crystal/cbIntermediate.png");
}

.dynatree-partsel span.dynatree-checkbox:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/cbIntermediate_hover.png");
}

.dynatree-selected span.dynatree-checkbox {
	background-image: image_url("jquery.ui/dynatree.crystal/cbChecked.png");
}

.dynatree-selected span.dynatree-checkbox:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/cbChecked_hover.png");
}

.dynatree-partsel span.dynatree-radio {
	background-image: image_url("jquery.ui/dynatree.crystal/rbIntermediate.png");
}

.dynatree-partsel span.dynatree-radio:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/rbIntermediate_hover.png");
}

.dynatree-selected span.dynatree-radio {
	background-image: image_url("jquery.ui/dynatree.crystal/rbChecked.png");
}

.dynatree-selected span.dynatree-radio:hover {
	background-image: image_url("jquery.ui/dynatree.crystal/rbChecked_hover.png");
}

.dynatree-folder span.dynatree-icon {
	background-image: image_url("jquery.ui/dynatree.crystal/folder.png");
}

.dynatree-folder.dynatree-expanded span.dynatree-icon {
	background-image: image_url("jquery.ui/dynatree.crystal/folder_open.png");
}

.dynatree-statusnode-wait span.dynatree-icon {
	background-image: image_url("jquery.ui/dynatree.crystal/ltWait.gif");
}

.dynatree-statusnode-error span.dynatree-icon {
	background-image: image_url("jquery.ui/dynatree.crystal/ltError.png");
}

/***********************************************************************
 * Drag'n'drop support
 */
/* Helper object */
div.dynatree-drag-helper
{ 
}
div.dynatree-drag-helper a
{ 
    border: 1px solid gray;
    background-color: white;
    padding-left: 5px; 
    padding-right: 5px; 
	opacity: 0.8;
}
span.dynatree-drag-helper-img
{
    /*
    position: relative;
    left: -16px;
    */
}
div.dynatree-drag-helper.dynatree-drop-accept
{ 
    border-color: green; 
}
div.dynatree-drop-accept span.dynatree-drag-helper-img
{ 
    background-image: image_url("jquery.ui/dynatree.crystal/drop_accept.png");
}
div.dynatree-drag-helper.dynatree-drop-reject
{ 
    border-color: red; 
}
div.dynatree-drop-reject span.dynatree-drag-helper-img
{ 
    background-image: image_url("jquery.ui/dynatree.crystal/drop_reject.png");
}
/* Source node while dragging */
span.dynatree-drag-source
{ 
    /* border: 1px dotted gray; */
    background-color: #e0e0e0; 
}
span.dynatree-drag-source a
{ 
    color: gray; 
}
/* Target node while dragging cursor is over it */
span.dynatree-drop-target
{ 
    /*border: 1px solid gray;*/ 
}
span.dynatree-drop-target a
{ 
    background-repeat: no-repeat;
    background-position: right;
    /*background-image: image_url("jquery.ui/dynatree.crystal/drop_child.png");*/
}
span.dynatree-drop-target.dynatree-drop-accept a
{ 
    /*border: 1px solid green;*/ 
    background-color: #3169C6 !important;
    color: white !important; /* @ IE6 */
}
span.dynatree-drop-target.dynatree-drop-reject
{ 
    /*border: 1px solid red;*/ 
}
span.dynatree-drop-target.dynatree-drop-after a
{
    /*background-repeat: repeat-x;
    background-position: bottom;
    background-image: image_url("jquery.ui/dynatree.crystal/drop_append.png");*/
}
/* Drop marker icon */
#dynatree_drop_marker
{
	width:24px;
	position: absolute;
    background-image: image_url("jquery.ui/dynatree.crystal/drop_here.png");
}
#dynatree_drop_marker.dynatree_drop_copy
{
    background-image: image_url("jquery.ui/dynatree.crystal/copy_here.png");
}
#dynatree_drop_marker.dynatree_drop_move
{
    background-image: image_url("jquery.ui/dynatree.crystal/move_here.png");
}

